include ../label/label

mixin skills-summary()
	+b.skills-summary&attributes(attributes)
		+label
			| Практические навыки
		+e.inner
			| Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутствие опыта отнюдь не
			| ознaчает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те
			| задачи, с которыми гарантировано будете справляться.
