.skills-summary
	margin-bottom 16px

	&__inner
		position relative
		margin-top 10px
		padding-left 17px
		font-family pt-sans-regular
		font-size 14px
		line-height 22px
		color #3d3d3d

		&:before
			position absolute
			top 8px
			left 0
			display block
			content ''
			sprite($asterisk)
