include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../box/box
include ../header/header
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		+box
			+header
			block content
		+scripts(['app.min.js'])
