courer-new = Courier New, sans-serif
pt-sans-regular = PT Sans Regular, sans-serif
pt-sans-bold = PT Sans Bold, sans-serif

@font-face
	font-family 'PT Sans Regular'
	src url('../fonts/pt_sans-web-regular.eot')
	src url('../fonts/pt_sans-web-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt_sans-web-regular.woff2') format('woff2'),
		url('../fonts/pt_sans-web-regular.woff') format('woff'),
		url('../fonts/pt_sans-web-regular.ttf') format('truetype'),
		url('../fonts/pt_sans-web-regular.svg#pt_sansregular') format('svg')
	font-weight 400
	font-style normal

@font-face
	font-family 'PT Sans Bold'
	src url('../fonts/pt_sans-web-bold.eot')
	src url('../fonts/pt_sans-web-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt_sans-web-bold.woff2') format('woff2'),
		url('../fonts/pt_sans-web-bold.woff') format('woff'),
		url('../fonts/pt_sans-web-bold.ttf') format('truetype'),
		url('../fonts/pt_sans-web-bold.svg#pt_sansbold') format('svg')
	font-weight 700
	font-style normal
